<div class="question-card card">
  <p><%= params[:question] %></p>
  <p><i>-You</i></p>
</div>
<br>
<div class="answer-card card">
  <p><strong><%= @answer %></strong></p>
  <p><i>-Your coach</i></p>
</div>
<br>
<%= link_to "Ask a new question", ask_path %>
